body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.buttons{
  display: flex;
  gap: 20px;
}
#eraser, #reset, #changeCanvas{
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.canvas{
  display: flex;
  flex-wrap: wrap;  
  background-color: rgb(233, 233, 233);
  border: 5px outset rgb(199, 198, 198);
  height: 700px;
  width: 700px;
}
.pixel{
  /* flex-basis: 250px;
  height: 250px;   */
  background-color: white;
  border: 1px solid grey;
  box-sizing: border-box;  
}